# deps
node_modules/
apps/kasrat/node_modules/

# build output
apps/kasrat/android/
apps/kasrat/.expo/
apps/kasrat/dist/
apps/santha/android/
apps/santha/.expo/
apps/santha/dist/

# env / secrets
.env
.env.local
*.env.local
apps/kasrat/.env

# OS
.DS_Store
*.log

# expo
apps/kasrat/.expo-shared/
apps/santha/.expo-shared/

# IDE
.idea/
